<section class="container">
  <h1 class="visually-hidden">
    Our vision design, motion, engine or other important info about company
  </h1>
  <div class="glide">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">
        <li class="glide__slide slide">
          <div class="slide__container">
            <h3 class="slide__subtitle">our vision</h3>
            <h2 class="slide__title">design</h2>
            <p class="slide__text">
              It is a long-established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum.
            </p>
            <a href="#" class="slide__link">Take A Look</a>
          </div>
        </li>
        <li class="glide__slide slide">
          <div class="slide__container">
            <h3 class="slide__subtitle">our vision</h3>
            <h2 class="slide__title">motion</h2>
            <p class="slide__text">
              It is a long-established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum.
            </p>
            <a href="#" class="slide__link">Take A Look</a>
          </div>
        </li>
        <li class="glide__slide slide">
          <div class="slide__container">
            <h3 class="slide__subtitle">our vision</h3>
            <h2 class="slide__title">engine</h2>
            <p class="slide__text">
              It is a long-established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum.
            </p>
            <a href="#" class="slide__link">Take A Look</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
